body {
    font-family: 'Special Elite', cursive;
    background-image: url("https://images.pexels.com/photos/479453/pexels-photo-479453.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position: center;
}

.container {
    width: 100%;
    margin: 0 auto;
    background-color: #fef7f7;
}

nav a {
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

.nav-right {
    display: none;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    color: white;
}
  
.home {
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #fef7f7;
    text-align: center;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding: 20px;
}

h2 {
    font-size: 15px;
}

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gallery-0 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

img {
    height: 200px;;
}

.desc {
    display: flex;
    text-decoration: none;
    color: black;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 10px;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color:black;
    text-decoration: none;
}

footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
}

@media (min-width: 768px) {
    .container {
      width: 760px;
    }

    img {
        height: 400px;
    }

@media (min-width: 996px) {
    .container {
        width: 960px;
        margin: 0 auto;
        padding: 30px;
    }

    nav a {
        font-size: 25px;
        margin-left: 45px;
        margin-right: 45px;
    }

    .nav-right {
        display: flex;
    }

    .home {
        margin-bottom: 30px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 25px;
    }

    img {
        height: auto;
        width: auto;
    }

    .desc {
        font-size: 15px;
    }